langchain
langchain-openai
langchain-community
langchain-text-splitters
llama-index
chromadb
faiss-cpu
sentence-transformers
openai
pypdf
pdfplumber
pymupdf
unstructured[pdf]
openai-whisper
streamlit
fastapi
uvicorn
transformers
indic-transliteration
gtts
python-dotenv
imageio-ffmpeg
pandas
numpy
scikit-learn
xgboost
prophet
