langchain
langchain-openai
langchain-community
langchain-text-splitters
llama-index
chromadb
faiss-cpu
sentence-transformers
openai
pypdf
openai-whisper
streamlit
fastapi
uvicorn
transformers
indic-transliteration
gtts
python-dotenv
imageio-ffmpeg
